# Server
PORT=8080
NODE_ENV=development
UPLOAD_IMAGE_SIZE_LIMIT_IN_MB=10

# Databasete
MONGO_URL="mongodb://localhost:27017/boatbouncer?replicaSet=rs0"

# Cloudinary
CLOUD_NAME=ds7tstwdb
CLOUDINARY_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX
CLOUDINARY_API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXX

# JWT
JWT_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX

# Stripe
STRIPE_PUBLISHABLE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX
WEBHOOK_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_SUCCESS_URL=http://localhost:8080/listings?success=true
STRIPE_FAILED_URL=http://localhost:8080/listings?success=false

# Twilio
TWILIO_ACCOUNT_SID=XXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXX
FROM_PHONE_NUMBER=+1111111111111

# Mapbox
MAPBOX_API_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXX

# Google Console
GOOGLE_CONSOLE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX

# Google Auth
GOOGLE_CLIENT_ID=134324594892-ft0itpqqqg2bsof8gnc45tgtg27rif1h.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:8080/api/boatbouncer/auth/google/callback
GOOGLE_SUCCESS_REDIRECT=http://localhost:3000/auth/google/success
GOOGLE_FAILURE_REDIRECT=http://localhost:3000/auth/google/failure

# Admin
ADMIN_EMAIL=XXXXXXXXXXXXXXXXXXXXXXXXXX
ADMIN_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXX
COOKIE_NAME=XXXXXXXXXXXXXXXXXXXXXXXXXX
COOKIE_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXX

# Crypto
CRYPTO_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXX
